<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Sign Up Form</h2>
    <form action="/users" method="post">
      Name:<input type="text" name="name" placeholder="Name"/><br/>
      Email:<input type="email" name="email" placeholder="email" /><br/>
      Password:<input type="password" name="password" placeholder="password" /><br/>
      <input type="submit" value="Submit" />
      </form>

      <h3>Already have an account?<a href =/sessions/new> Log in </a></h3>

  </body>
</html>
