<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>SignUp Form</h2>
    <form action="/users" method="post">
      Name:<input type="text" name="name" placeholder="Name"/><br/>
      Username:<input type="email" name="email" placeholder="email" /><br/>
      Password:<input type="password" name="password" placeholder="password" /><br/>
      <input type="submit" value="Submit" />
      </form>
  </body>
</html>
