<!doctype html>
<html lang="en">
<head>
  <style>
ul {
  background: #ff9999;
  padding: 20px;
}

ul li {
  background: #ffe5e5;
  margin: 5px;
}
div.c {
  text-align: right;
}
.body-color {
    background: rgb(27,39,57)
}
#menu {
    text-align: right;
    background-color: white;
    padding-bottom: 100px;
    margin-left: 0;
    padding-left: 0;
}

li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;

}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="c">
  <ul id="menu">
    <li><a href="/space/new"> List a space </a></li>
    <li><a href="/users/new"> Sign up </a></li>
    <li><a href="/sessions/new">Log in </a></li>
  </ul>
</div>
  <% if @user %>
  <h1> Welcome, <%= @user.name %> </h1>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>

  <% end %>
  <h1>
    <%= flash[:notice] %>
  </h1>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome to MakersBnB</h1>
  </div>
</div>
  <h2>Unique places to stay </h2>
<ul>
  <% @spaces.each do |space| %>
      <a href="/space/<%= space.id %>" target="_blank">
      <li><%= space.name %></li><br/>
    </a>
<% end %>
</ul>
