<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% if @user %>
  <h1> Welcome, <%= @user.name %> </h1>
  <% end %>
  <h1>Welcome to MakersBnB </h1>
  <h2>Available spaces: </h2>
<ul>
  <% @spaces.each do |space| %>
    <li>
      <a href="/space/<%= space.id %>" target="_blank">
      <%= space.name %>
    </a>
  </li>
<% end %>
</ul>
