<form action="/space" method="post">
  <label for="name">
    Name
  <input type="text" name="name" />
</label>
<label for="description">
  Description
  <input type="text" name="description" />
</label>
<label for="price">
  Price
  <input type="price" name="price" />
</label>
<label for="available_from">
  Date From
  <input type="date" name="available_from" />
</label>
<label for="available_to">
  Date To:
  <input type="date" name="available_to" />
</label>
  <input type="submit" value="Add" />
</form>
